@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-container {
    background-color: white !important;
  }

  .print-container * {
    background-color: transparent !important;
    color: black !important;
    border-color: #ccc !important;
  }

  .no-print {
    display: none !important;
  }
}
